<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="flex-grow"></span>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [opened]="sidenavOpened" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span class="ml-2">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/patient-journey" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span class="ml-2">Patient Journey</span>
      </a>
      <a mat-list-item routerLink="/hospitals" routerLinkActive="active">
        <mat-icon>local_hospital</mat-icon>
        <span class="ml-2">Hospitals</span>
      </a>
      <a mat-list-item routerLink="/doctors" routerLinkActive="active">
        <mat-icon>healing</mat-icon>
        <span class="ml-2">Doctors</span>
      </a>
      <a mat-list-item routerLink="/implants" routerLinkActive="active">
        <mat-icon>biotech</mat-icon>
        <span class="ml-2">Orthopedic Implants</span>
      </a>
      <a mat-list-item routerLink="/diagnostics" routerLinkActive="active">
        <mat-icon>medical_services</mat-icon>
        <span class="ml-2">Diagnostic Tests</span>
      </a>
      <a mat-list-item>
        <mat-icon>assessment</mat-icon>
        <span class="ml-2">Reports</span>
      </a>
      <a mat-list-item>
        <mat-icon>settings</mat-icon>
        <span class="ml-2">Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
